@font-face {
  font-family:'Avenir';
  src: url('../fonts/avenir-medium.eot');
  src: url('../fonts/avenir-medium.eot') format('embedded-opentype'), url('../fonts/avenir-medium.woff2') format('woff2'), url('../fonts/avenir-medium.woff') format('woff'), url('../fonts/avenir-medium.ttf') format('truetype'), url('../fonts/avenir-medium.svg#AvenirMedium') format('svg');
}
body {
  font-family:'Avenir', Arial;
  background: #eff4f6;
}
/*Fonts*/
.font-fontawesome{
  font-family: 'FontAwesome';
}
.font-xx-large{
  font-size:35px;
}
.font-small{
	font-size: 12px;
}
/*Layout*/
.line-max{
  float:none;
  margin:0 auto;
  max-width: 600px;
}
/*Colors*/
.color-default{
  color:#04C9DB;
}
/*buttons*/
.btn-default{
  max-width:160px;
  font-size: 13px;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
  color:#444;
  line-height: 20px;
}
.btn-default i {
  font-size: 18px;
  margin-top:-3px;
  vertical-align: middle;
}
/*Extra*/
code.hljs{
	border-radius:5px;
	padding-bottom:0;
	padding-top:15px;
	background: rgba(255,255,255,0.7);
}
#carbonads{
     display: block;
    overflow: hidden;
    padding: 1em;
    line-height: 1.5;
    max-width: 340px;
    color: darkgrey;
    text-align: center;
    border-radius: 5px;
    background: #eee;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  float: left;
  margin-right: 1em;
  border-radius:5px;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  display: block;
  float: left;
  max-width: calc(100% - 130px - 1em);
  text-align: left;
  color:grey;
}

.carbon-poweredby {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  color:grey;
}

